{% extends '../base_with_content.html' %}
{% block content %}
<div class="container">
    <h1>Are you sure you wish to delete {{ lesson_request.student_profile.user.full_name }}'s lesson request?</h1>
    <p>This operation is unrecoverable if you later decide that the lesson request is needed.</p>
    <hr/>

    <!-- Lesson request confirmation form -->
    <form action="{% url 'delete_lesson_request' lesson_request.id %}" method="post">
        {% csrf_token %}
        <p>Are you sure you wish to proceed?</p>
        <button type="submit" class="btn btn-primary btn-sm">Confirm</button>
        <a href="{% url 'view_lesson_requests' %}" type="button" class="btn btn-secondary btn-sm">Cancel</a>
    </form>

</div>
{% endblock %}
