{% load widget_tweaks %}
{% for field in form %}
    <!-- Specific field adjustments start -->
    {% if field.name == "make_director" %}
        <!-- Make director? -->
        <div class="mb3 form-check form-switch" style="margin-bottom:14px; margin-top:10px;">
            <label class="form-check-label" for="flexSwitchCheckDefault">{{ field.label_tag }}</label>
            {% render_field field class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" %}
        </div>

    {% elif field.name == "availability" %}
        <div class="mb3">
            <label>{{ field.label }}:</label>
            <div class="text-danger">
                {{ field.errors }}
            </div>
            {% render_field field %}
        </div>

    <!-- Specific field adjustments end -->

    {% else %}
        <div class="mb-3">
            {{ field.label_tag }}
            {% include './custom_field.html' with form=form field=field %}
            <div class="text-danger">
                {{ field.errors }}
            </div>
        </div>
    {% endif %}
{% endfor %}
