{% extends '../base_with_content.html' %}
{% block content %}
<div class="container">
    <h1>View your registered children</h1>
    <p>Listed below are all of your registered children. Click <a href="{% url 'register' %}">here</a> to register a new child.</p>
    <hr/>
    <!-- Display messages above form -->
    {% include '../../partials/messages.html' %}
    <!-- Dynamic table displaying dependent accounts -->
    <table class="table">
        <thead>
          <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
            {% for child in children %}
            <tr>
                <td>{{ child.user.first_name }}</td>
                <td>{{ child.user.last_name }}</td>
                <td>{{ child.user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}
